:root{
    --cor-principal: #ffffff;
}
.breadcrumb{
    width: 38%;
    position: absolute;
    height: 170px;
}

.breadcrumb ol{
    list-style-type: none;
    padding: 0;
}

.breadcrumb ol li{
    display: inline;
}

.breadcrumb ol li::after{
    content: '>';
    margin-right: 10px;
    color: #ffffff;
}

.breadcrumb ol li:last-child:after{
    content: '';
}

.breadcrumb ol li a{
    color: var(--cor-principal);
    text-decoration: none;
    margin-right: 10px;
}

.breadcrumb .active:hover{
    text-decoration: underline;
}